.nav-banner {
  display: flex;
  justify-content: center;
}

.nav-banner div {
  padding: 20px;
  display: inline-flex;
}

.title {
  font-family: fantasy;
  font-size: 18pt;
}

.left {
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.right {
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
}

a {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
