div {
  position: fixed;
  bottom: 30px;
}

nav {
  position: fixed;
  right: 25px;
}

a {
  padding-left: 20px;
  margin-left: auto;
  display: inline-flex;
}

#youtube {
  color:red;
}

#twitch {
  color: #6441a5;
}

#twitter {
  color: #00acee;
}

#discord {
  color: #7289da;
}

#email {
  color: black;
}
