<div>
  <nav>
    <a href='https://www.youtube.com/macgyver2141' id='youtube'>
      <fa-icon icon='youtube' size='lg'></fa-icon>
    </a>
    <a href='https://www.twitch.tv/damianalabaster' id='twitch'>
      <fa-icon icon='twitch' size='lg'></fa-icon>
    </a>
    <a href='https://www.twitter.com/macgyver_made' id='twitter'>
      <fa-icon icon='twitter' size='lg'></fa-icon>
    </a>
    <a href='https://discord.gg/uBEZn7G' id='discord'>
      <fa-icon icon='discord' size='lg'></fa-icon>
    </a>
    <a href='https://www.linkedin.com/in/leif-macgyver-swenson' id='linkedin'>
      <fa-icon icon='linkedin' size='lg'></fa-icon>
    </a>
    <a href='mailto:lfswenson@gmail.com' id='email'>
      <fa-icon [icon]="['fas', 'envelope']" size='lg'></fa-icon>
    </a>
  </nav>
</div>
